---
import MainLayout from "../layouts/main.astro";
import Section from "../components/Section.astro";
import Card from "../components/Card.astro";
import ProjectCard from "../components/ProjectCard.astro";
import SkillLayout from "../components/SkillLayout.astro";
import { type ExperienceMetaData, type ProjectMetaData } from "../types";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import logo from "../assets/images/scavettapps-logo.svg";
import Label from "../components/Label.astro";

const languages = ["C#", "Java", "Typescript", "Javascript", "Python", "SQL"];
const frontend = [
  "React",
  "Redux-Saga",
  "React Native",
  "Angular",
  "GatsbyJS",
  "Astro",
];
const desktop = ["Electron", "Maui", "WPF", "NiceGUI", "PyQt"];
const backend = [
  "Dotnet",
  "Entity Framework",
  "ASPNet",
  "Spring Boot",
  "DataJPA",
];
const cloud = ["AWS", "Serverless", "Microservices", "CI/CD"];
const tools = [
  "Visual Studio",
  "VSCode",
  "Figma",
  "Unity 3D",
  "Unreal",
  "Adobe Suite",
  "Ableton",
  "Stable Diffusion",
];
const others = ["Docker", "FFMPEG", "CUDA", "Git"];

import projectMetadataJson from "../content/project-summaries.json";
const projectMetadata: ProjectMetaData[] = projectMetadataJson;

import workExperienceJson from "../content/experience.json";
const workExperience: ExperienceMetaData[] = workExperienceJson;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,gif,svg}"
);
---

<style>
  .layout-container {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    width: 100%;
    background: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  .about {
    margin: 0px;
  }

  .experience-list {
    margin: 0px;
    margin-left: -1rem;
    list-style-type: disc;
  }

  .sub-list {
    list-style-type: circle;
    margin-left: -1rem;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;

    @media (min-width: 640px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
      row-gap: 1rem;
    }
  }

  .project-image {
    width: 100%;

    @media (min-width: 640px) {
      width: 50%;
    }
  }

  .top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;
  }

  .top-container-image {
    background-color: transparent;
    color: black;
  }

  .top-container-sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .top-container-name {
    font-size: 1.875rem;
    font-weight: bold;
  }
  .top-container-sub-container-sub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0rem 1.75rem;
    @media (min-width: 640px) {
      gap: 1.75rem 2rem;
    }
  }

  .muted-foreground-color {
    color: hsl(var(--muted-foreground));
  }

  [data-icon] {
    height: 1.25rem;
    width: 1.25rem;
    color: hsl(var(--accent));
  }
</style>
<MainLayout title="Vincent Scavetta - Resume">
  <div class="layout-container">
    <section class="top-container">
      <Image
        src={logo}
        alt="profile photo"
        class="top-container-image"
        loading="eager"
      />

      <div class="top-container-sub-container">
        <h1 class="top-container-name">Vincent Scavetta</h1>
        <div class="top-container-sub-container-sub-container">
          <Label title="Software Engineer III">
            <Icon name="briefcase" slot="icon" />
          </Label>
          <Label title="Philadelphia, PA">
            <Icon name="location" slot="icon" />
          </Label>
          <Label
            title="GitHub"
            as="a"
            href="https://github.com/scavet64"
            target="_blank"
          >
            <Icon name="github" slot="icon" />
          </Label>
          <Label
            title="LinkedIn"
            as="a"
            href="https://www.linkedin.com/in/vscavetta/"
            target="_blank"
          >
            <Icon name="linkedIn" slot="icon" />
          </Label>
        </div>
      </div>
    </section>

    <Section id="about-me" title="About Me">
      <p class="muted-foreground-color about">
        Hello! I'm a full-stack software engineer with over 8 years of
        experience creating secure applications for cloud, desktop, and mobile
        platforms.
      </p>
      <p class="muted-foreground-color about">
        Throughout my career, I've had the opportunity to work on and lead some
        truly impactful projects. During the COVID-19 pandemic, I helped create
        solutions to support big players in the entertainment industry such as
        Sony and Netflix stay safe. I'm also proud to have built a highly
        scalable, FDA-approved system that aids in the fight against
        antimicrobial resistance.
      </p>
      <p class="muted-foreground-color about">
        What I love most about programming is tackling complex problems. Give me
        an intriguing challenge, and I'll happily spend hours working to solve
        it. This passion has led to many of my side projects, which you can
        explore on my GitHub.
      </p>
      <p class="muted-foreground-color about">
        When I'm not coding, you'll find me playing the latest soulsborne game,
        watching in-depth video essays on niche topics, running or biking around
        my neighborhood, producing music, or any of the countless hobbies I've
        picked up along the years.
      </p>
    </Section>

    <Section id="experience" title="Experience">
      {
        workExperience.map((job) => (
          <Card
            heading={job.title}
            subheading={job.companyName}
            date={`${job.startDate} - ${job.endDate}`}
            imagePath={job.image.path}
            altText={job.image.altText}
          >
            <ul class="experience-list muted-foreground-color">
              {job.bulletPoints.map((bullet: string) => (
                <li>{bullet}</li>
              ))}
            </ul>
          </Card>
        ))
      }
    </Section>

    <Section id="skills" title="Skills">
      <SkillLayout title="Languages" skills={languages} />
      <SkillLayout title="Frontend" skills={frontend} />
      <SkillLayout title="Desktop" skills={desktop} />
      <SkillLayout title="Backend" skills={backend} />
      <SkillLayout title="Cloud" skills={cloud} />
      <SkillLayout title="Tools" skills={tools} />
      <SkillLayout title="Others" skills={others} />
    </Section>

    <Section id="projects" title="Projects">
      <div class="project-container">
        {
          projectMetadata.map((project: ProjectMetaData) => (
            <ProjectCard
              heading={project.title}
              subheading={project.description}
              imagePath={project.imagePath}
              altText={project.altText}
              class="project-image"
              style={project.customStyle}
              href={project.href}
            />
          ))
        }
      </div>
    </Section>

    <Section id="education" title="Education">
      <Card
        heading="Masters of Science in Computer Science"
        subheading="Rowan University"
        date="Sept 2016 - May 2019"
        altText="Lorem, ipsum dolor sit"
        imagePath="/src/assets/images/rowan-university-profs-seeklogo.svg"
        imageClass="h-12 w-auto md:-left-16"
      >
        <ul class="experience-list muted-foreground-color">
          <li>Graduated with Magna Cum Laude Honors</li>
          <li>
            Completed coursework in advanced algorithms, operating systems,
            cybersecurity, and cryptography.
          </li>
          <li>
            Collaborated with faculty and peers on research projects and
            academic initiatives.
          </li>
          <li>
            Received commendation for leadership and teamwork skills during
            group projects.
          </li>
        </ul>
      </Card>
      <Card
        heading="Bachelors of Science in Biological Science"
        subheading="Rowan University"
        date="Sept 2011 - May 2016"
        imagePath="/src/assets/images/rowan-university-profs-seeklogo.svg"
        altText="Lorem, ipsum dolor sit"
        imageClass="h-12 w-auto md:-left-16"
      >
        <ul class="experience-list muted-foreground-color">
          <li>Minored in computer science and chemistry</li>
          <li>Ecological Individual Based Model Developer</li>
          <ul class="sub-list muted-foreground-color">
            <li>
              Faculty supported, independent research on the endangered seagrass
              <i>Halophila johnsonii</i>
            </li>
            <li>
              Worked with large NOAA data sets as training data for the model
              development
            </li>
            <li>
              Pesented final research and model at the 2016 STEM symposium
            </li>
          </ul>
          <li>Artificial Intelligence Developer</li>
          <ul class="sub-list muted-foreground-color">
            <li>
              Developed and implemented a minimax inspired algorithm into a
              unique card based game
            </li>
            <li>Presented the final product at the 2016 STEM symposium</li>
          </ul>
        </ul>
      </Card>
    </Section>
  </div>
</MainLayout>
