---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

const {
  as: Tag = "div",
  class: className,
  href,
  heading,
  subheading,
  date,
  imagePath,
  altText,
  imageClass,
} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);

if (imagePath) {
  if (!images[imagePath])
    throw new Error(
      `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
    );
}
---

<style>
	h1{
		margin:0px;
	}
  .tag {
    position: relative;
    border-radius: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: hsl(var(--border));
    background-color: hsl(var(--primary-foreground));
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .image {
    margin-bottom: 0.75rem;
    height: 3rem;
    width: auto;

    @media (min-width: 768px) {
      position: absolute;
      margin-bottom: 0;
      left: -4rem;
    }
  }

  .my-class {
    margin-left: 1rem;
    list-style-type: disc;
    color: hsl(var(--muted-foreground));
  }

  .tag-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.375rem;

    .tag-header-container {
      display: flex;
      flex-direction: column;
      row-gap: 0.125rem;

      h1 {
        font-size: 1.125rem;
        font-weight: 500;
      }

      .sub-heading {
        color: hsl(var(--muted-foreground));
      }
    }
  }
</style>
<Tag class={"tag" + " " + className} href={href}>
  {
    imagePath && (
      <Image
        src={images[imagePath]()}
        alt={altText}
        class={"image" + " " + imageClass}
        loading="eager"
      />
    )
  }
  <div class="tag-container">
    <div class="tag-header-container">
      <h1 class="">{heading}</h1>
      <div class="sub-heading">{subheading}</div>
      <div class="sub-heading">{date}</div>
    </div>
    <slot />
  </div>
</Tag>
